<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>控制器2</title>
	<script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	姓名：<input type="text" ng-model="name">
	年龄：<input type="text" ng-model="age">
	{{information()}}
	<strong>黑名单</strong>
	<ul>
		<li ng-repeat="xx in names">
			{{xx.name}}
		</li>
	</ul>
<script>
	var app = angular.module('myApp',[]);
	app.controller('myCtrl',function($scope){
		$scope.name = "小莉";
		$scope.age = '20';
		$scope.information = function(){
			return "姓名："+$scope.name + "，年龄：" + $scope.age;
		}
		$scope.names = [
			{name:'小王'},
			{name:'小李'},
			{name:'小黄'}
		]
	})
</script>
</body>
</html>