<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表单验证</title>
	<script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="formCtrl">
		<form novalidata>
			First Name:<br>
			<input type="text" ng-model="user.firstName"><br>
			Last Name:<br>
			<input type="text" ng-model="user.lastName"><br>
			<button ng-click="reset()">RESET</button>
		</form>
		<p>form = {{user}}</p>
		<p>master = {{master}}</p>
	</div>
<script>
	var app = angular.module('myApp',[]);
	app.controller('formCtrl',function($scope){
		$scope.master = {firstName:'Tian',lastName:'PingFan'};
		$scope.reset = function(){
			$scope.user = angular.copy($scope.master);
		};
		$scope.reset();
	});
</script>
</body>
</html>